body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(1, 79, 38);
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 500px;
    background: rgba(0, 103, 24, 0.5);
    background-color: rgb(0, 76, 17);
    background-color: transparent;
    backdrop-filter: blur(2px);
    color: #ffff;
}

.wrapper h1 {
    font-size: 150px;
    text-align: center;
    margin-bottom: 100px;
}
